<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>SianeTwilioServlet</servlet-name>
		<servlet-class>com.siane.twilio.SianeTwilioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TwilioVoiceServlet</servlet-name>
		<servlet-class>com.siane.twilio.SianeTwilioVoiceServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.advisor.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>SianeTwilioServlet</servlet-name>
		<url-pattern>/client</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TwilioVoiceServlet</servlet-name>
		<url-pattern>/voice</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>client/client.jsp</welcome-file>
	</welcome-file-list>

</web-app>
